[submodule "trueline"]
	path = modules/trueline
	url = https://github.com/petobens/trueline.git

[submodule "webhook"]
	path = scripts/webhook
	url = https://gitlab.com/Fabi0Z/webhook.git

[submodule "pure"]
	path = modules/pure
	url = https://github.com/sindresorhus/pure.git
