[Unit]
Description=Change AMDGPU device clocks and voltages
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "amdgpuclocks /etc/amdgpuclocks/default.*"
[Install]
WantedBy=multi-user.target