[Unit]
Description=Change AMDGPU device clocks and voltages

[Service]
Type=oneshot
ExecStart=/usr/bin/amdgpuclocks default.*

[Install]
WantedBy=multi-user.target